.pagina-listagem {
    padding: 20px;
  }
  
  .cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .cabecalho h2{
    color: #2b9fae;

  }
  
  .input-filtro {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  /*.tabela {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }
  
  .tabela th,
  .tabela td {
    text-align: left;
    height: 30px;
    padding: 10px 16px;
    text-align: left;
    border-bottom: 1px solid #eee;
  }

  .tabela tr {
    height: 10px;
  }
  
  .tabela th {
    background-color: #2b9fae;
    padding: 8px;
    color: white;
  }

  .tabela tr:hover {
    background-color: #f1f1f1;
  }*/
  
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
  }
  
  .icon-button.excluir {
    color: red;
  }
  
  .form-container {
    width: 600px;
  }

  .form-os .grid-2 {
    display: flex;
    gap: 20px;
  }
  
  .form-os .grid-2 > div {
    flex: 1;
  }

  .form-os .input-w300 {
      width: 300px;
      gap: 10px;
      padding: 8px;
  }

  .form-os .input-w150 {
    width: 150px;
    gap: 10px;
    padding: 8px;
  }

  /* Sobreposição da tela inteira */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* escurece o fundo */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Caixa branca centralizada */
.modal-conteudo {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Botões dentro do modal */
.modal-botoes {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.modal-botoes .btn {
  min-width: 80px;
}

 
.icon-button.desativado {
  opacity: 0.5;
  cursor: not-allowed;
}