/* src/pages/caixa/caixa.css */

.pagina-caixa {
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.header-caixa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-caixa h2 {
  color: #2B9FAE;
  margin: 0;
}

.filtro-caixa {
  margin: 1rem 0;
}

.filtro-caixa input {
  padding: 0.5rem;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 4px;
  padding: 4px;
  transition: transform 0.1s ease;
}

.icon-button:hover {
  transform: scale(1.1);
}

.icon-button.excluir svg {
  color: #d9534f;
}

.valor-saida {
  color: #d9534f;
  /* font-weight: bold; */
}