/* src/pages/caixa/caixa.css */

.pagina-caixa {
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.header-caixa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-botoes {
  display: flex;
  gap: 10px; /* ajuste conforme o espaço desejado */
}

.header-caixa h2 {
  color: #2B9FAE;
  margin: 0;
}

.filtro-caixa {
  margin: 1rem 0;
}

.filtro-caixa input {
  padding: 0.5rem;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 4px;
  padding: 4px;
  transition: transform 0.1s ease;
}

.icon-button:hover {
  transform: scale(1.1);
}

.icon-button.excluir svg {
  color: #d9534f;
}

.valor-saida {
  color: #d9534f;
  /* font-weight: bold; */
}

.filtros-avancados {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.filtros-avancados button {
  margin-right: 0.1rem;
  padding: 6px 8px;
  border: none;
  background-color: #dee6e7;
  color: #18616b;
  /*font-weight: bold;*/
  /*border-radius: 6px;*/
  cursor: pointer;
}
.filtros-avancados button:hover {
  background-color: #2B9FAE;
  color: white;
}

.filtros-avancados button.ativo {
  background-color: #2B9FAE;
  color: white;
}

.filtro-datas-personalizadas {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
}
.filtro-datas-personalizadas input {
  padding: 4px;
}

.linha-filtro-texto {
  margin-bottom: 10px;
}

.linha-filtros-opcoes {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}